# project files
.env
src/generated

# Compiler files
cache/
out/
node_modules
index.js
*.d.ts
dist

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# MacOS files
.DS_Store
